In [1]:
!rm df-*-checkpoint.csv

zsh:1: no matches found: df-*-checkpoint.csv

In [2]:
import os
import glob

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load all datasets

In [4]:
all_files = glob.glob("*.csv")
df = pd.concat((pd.read_csv(f) for f in all_files))
df = df.drop_duplicates()
print(df.shape)

(555, 19)

In [5]:
df.head()

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec
0,10.06,500.0,14814.0,9899,1,k8s,sn,1,exp15,1,1,1,4,512,30,3.983,52.864,2.127,493.26
1,11.61,500.0,14706.0,9908,1,k8s,hr,1,exp15,1,1,1,4,512,30,4.298,22.256,2.219,490.00
2,11.85,500.0,14813.0,9898,1,k8s,mm,1,exp15,1,1,1,4,512,30,4.902,19.696,1.883,493.64
3,7.66,1000.0,29634.0,19875,1,k8s,hr,1,exp15,1,1,1,4,512,30,3.181,11.592,1.410,987.61
4,19600.00,1000.0,12128.0,8079,1,k8s,mm,1,exp15,1,1,1,4,512,30,11164.807,22691.840,3871.293,404.04

# Overview experiment settings

In [6]:
df.columns

Index(['Latency', 'Requests', 'Throughput', 'Measured_Throughput', 'Baseline',
       'Orchestrator', 'Benchmark', 'Infinite', 'Exp', 'Availability',
       'Horizontal', 'Vertical', 'Threads', 'Connections', 'Duration', 'Mean',
       'Max', 'StdDev', 'ReqSec'],
      dtype='object')

In [7]:
df.loc[:,['Exp','Baseline','Orchestrator','Availability','Horizontal','Vertical', 'Throughput']]

,Exp,Baseline,Orchestrator,Availability,Horizontal,Vertical,Throughput
0,exp15,1,k8s,1,1,1,14814.0
1,exp15,1,k8s,1,1,1,14706.0
2,exp15,1,k8s,1,1,1,14813.0
3,exp15,1,k8s,1,1,1,29634.0
4,exp15,1,k8s,1,1,1,12128.0
...,...,...,...,...,...,...,...
23,exp14,1,nomad,0,0,1,449699.0
24,exp14,1,nomad,0,0,1,104179.0
25,exp14,1,nomad,0,0,1,106307.0
26,exp14,1,nomad,0,0,1,105577.0
27,exp14,1,nomad,0,0,1,595102.0

In [32]:
df['Orchestrator'] = df['Orchestrator'].astype('category')
df['Benchmark'] = df['Benchmark'].astype('category')
df['Exp'] = df['Exp'].astype('category')
df['Requests'] = df['Requests'].astype(int)

In [8]:
df_0 = df.loc[df['Exp'] == 'exp0']
df_1 = df.loc[df['Exp'] == 'exp1']
df_2 = df.loc[df['Exp'] == 'exp2']
df_3 = df.loc[df['Exp'] == 'exp3']
df_4 = df.loc[df['Exp'] == 'exp4']
df_5 = df.loc[df['Exp'] == 'exp5']
df_6 = df.loc[df['Exp'] == 'exp6']
df_7 = df.loc[df['Exp'] == 'exp7']
df_8 = df.loc[df['Exp'] == 'exp8']
df_9 = df.loc[df['Exp'] == 'exp9']
df_10 = df.loc[df['Exp'] == 'exp10']
df_11 = df.loc[df['Exp'] == 'exp11']
df_prelim = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11])

In [20]:
df_prelim.columns

Index(['Latency', 'Requests', 'Throughput', 'Measured_Throughput', 'Baseline',
       'Orchestrator', 'Benchmark', 'Infinite', 'Exp', 'Availability',
       'Horizontal', 'Vertical', 'Threads', 'Connections', 'Duration', 'Mean',
       'Max', 'StdDev', 'ReqSec'],
      dtype='object')

In [29]:
# np.sort(df_prelim['Orchestrator'].unique())
columns = ['Infinite','Benchmark', 'Threads','Requests', 'Availability', 'Duration','Connections', 'Vertical', 'Horizontal','Orchestrator']
for column in columns:
    print(column, df_prelim[column].unique())

Infinite [0 1]
Benchmark ['hr' 'mm' 'sn']
Threads [ 4 16  8]
Requests [  200.   500.  1000.  1500.  2000.  2500.  3000.  3500.  4000.  5000.
  6000.  8000. 10000. 12000. 14000. 16000. 18000. 20000. 22000. 24000.
 26000.  7000.]
Availability [0]
Duration [ 30 150  60]
Connections [   8   16 1024  128 2048  512]
Vertical [1]
Horizontal [1]
Orchestrator ['swarm']

In [19]:
np.sort(df_prelim['Benchmark'].unique())

array(['hr', 'mm', 'sn'], dtype=object)

In [18]:
np.sort(df_prelim['Requests'].unique())

array([  200.,   500.,  1000.,  1500.,  2000.,  2500.,  3000.,  3500.,
        4000.,  5000.,  6000.,  7000.,  8000., 10000., 12000., 14000.,
       16000., 18000., 20000., 22000., 24000., 26000.])

In [34]:
df_12 = df.loc[(df['Exp'] == 'exp12')]
df_13 = df.loc[(df['Exp'] == 'exp13')]
df_14 = df.loc[(df['Exp'] == 'exp14')]
df_15 = df.loc[(df['Exp'] == 'exp15')]
df_all_orch = pd.concat([df_12, df_13, df_14, df_15])
df_all_orch['Exp'] = df_all_orch['Exp'].cat.remove_unused_categories()
df_12_swarm = df.loc[(df['Exp'] == 'exp12') & (df['Orchestrator'] == 'swarm')]
df_13_swarm = df.loc[(df['Exp'] == 'exp13') & (df['Orchestrator'] == 'swarm')]
df_14_swarm = df.loc[(df['Exp'] == 'exp14') & (df['Orchestrator'] == 'swarm')]
df_15_swarm = df.loc[(df['Exp'] == 'exp15') & (df['Orchestrator'] == 'swarm')]
df_12_nomad = df.loc[(df['Exp'] == 'exp12') & (df['Orchestrator'] == 'nomad')]
df_13_nomad = df.loc[(df['Exp'] == 'exp13') & (df['Orchestrator'] == 'nomad')]
df_14_nomad = df.loc[(df['Exp'] == 'exp14') & (df['Orchestrator'] == 'nomad')]
df_15_nomad = df.loc[(df['Exp'] == 'exp15') & (df['Orchestrator'] == 'nomad')]
df_12_k8s = df.loc[(df['Exp'] == 'exp12') & (df['Orchestrator'] == 'k8s')]
df_13_k8s = df.loc[(df['Exp'] == 'exp13') & (df['Orchestrator'] == 'k8s')]
df_14_k8s = df.loc[(df['Exp'] == 'exp14') & (df['Orchestrator'] == 'k8s')]
df_15_k8s = df.loc[(df['Exp'] == 'exp15') & (df['Orchestrator'] == 'k8s')]

In [35]:
# Global settings
fontsize = 20
legend_location = "lower right"

# Exp 12-15 Breaking points

In [72]:
df_12_swarm[df_12_swarm['Exp'] == 'exp12'].sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator", 'Exp']]

      Latency  Requests Benchmark Orchestrator    Exp
27       6.94       500        sn        swarm  exp12
49       6.22      1500        sn        swarm  exp12
76       6.74      2000        sn        swarm  exp12
91   22400.00      3000        sn        swarm  exp12
107  23040.00      4000        sn        swarm  exp12
20       3.98       500        mm        swarm  exp12
35   21640.00      1000        mm        swarm  exp12
66   24970.00      2000        mm        swarm  exp12
103  26610.00      3000        mm        swarm  exp12
29       7.75       500        hr        swarm  exp12
38       6.39      1000        hr        swarm  exp12
52       6.07      1500        hr        swarm  exp12
74       6.33      2000        hr        swarm  exp12
84   14970.00      2500        hr        swarm  exp12
102  19760.00      3000        hr        swarm  exp12

In [73]:
df_12_k8s[df_12_k8s['Exp'] == 'exp12'].sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator"]]

     Latency  Requests Benchmark Orchestrator
0      10.50       500        sn          k8s
6       7.35      1500        sn          k8s
8       8.75      2000        sn          k8s
11  16730.00      3000        sn          k8s
15  20200.00      4000        sn          k8s
17  21680.00      5000        sn          k8s
20  23330.00      6000        sn          k8s
21  25660.00     10000        sn          k8s
2      11.75       500        mm          k8s
4   21860.00      1000        mm          k8s
9   24330.00      2000        mm          k8s
12  26120.00      3000        mm          k8s
16  26720.00      4000        mm          k8s
18  27380.00      5000        mm          k8s
1      11.84       500        hr          k8s
3       7.87      1000        hr          k8s
5       7.02      1500        hr          k8s
7       6.78      2000        hr          k8s
10      6.82      2500        hr          k8s
13  17420.00      3000        hr          k8s
14  19370.00      4000        hr          k8s
19  22280.00      6000        hr          k8s
22  25070.00     10000        hr          k8s

In [44]:
df_12_nomad.sort_values(["Orchestrator", "Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator"]]

     Latency  Requests Benchmark Orchestrator
0       3.37       500        sn        nomad
4       3.32       500        sn        nomad
5       2.86      1500        sn        nomad
6       2.49      1500        sn        nomad
8       2.40      2000        sn        nomad
9       2.40      3000        sn        nomad
13      2.50      4000        sn        nomad
15      2.68      5000        sn        nomad
21      4.59     10000        sn        nomad
22      4.47     10000        sn        nomad
26   2450.00     15000        sn        nomad
30  11320.00     20000        sn        nomad
1       3.50       500        mm        nomad
3       3.28       500        mm        nomad
11   3410.00      3000        mm        nomad
12  11930.00      4000        mm        nomad
16  16920.00      5000        mm        nomad
17  20630.00      6000        mm        nomad
19  33950.00      7000        mm        nomad
20  22170.00      7000        mm        nomad
2       5.20       500        hr        nomad
7      16.69      2000        hr        nomad
10     49.98      3000        hr        nomad
14    187.77      4000        hr        nomad
18   8220.00      6000        hr        nomad
23  16000.00     10000        hr        nomad
24  17990.00     12000        hr        nomad
25  19600.00     14000        hr        nomad
27  21140.00     16000        hr        nomad
28  21660.00     18000        hr        nomad
29  22690.00     20000        hr        nomad

# Exp 13 Breaking points

In [61]:
df_13_swarm.sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

      Latency  Requests Benchmark Orchestrator    Exp
26       6.90       500        sn        swarm  exp13
44       6.10      1500        sn        swarm  exp13
67       6.51      2000        sn        swarm  exp13
96       7.80      3000        sn        swarm  exp13
108  17710.00      4000        sn        swarm  exp13
119  22410.00      5000        sn        swarm  exp13
21       3.98       500        mm        swarm  exp13
34       4.40      1000        mm        swarm  exp13
60   21770.00      2000        mm        swarm  exp13
99   24330.00      3000        mm        swarm  exp13
113  25800.00      4000        mm        swarm  exp13
25       8.14       500        hr        swarm  exp13
40       6.55      1000        hr        swarm  exp13
45       6.31      1500        hr        swarm  exp13
61       6.20      2000        hr        swarm  exp13
81       6.36      2500        hr        swarm  exp13
100      6.39      3000        hr        swarm  exp13
111      6.86      4000        hr        swarm  exp13
125  14770.00      6000        hr        swarm  exp13
133  20760.00     10000        hr        swarm  exp13

In [63]:
df_13_k8s.sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

     Latency  Requests Benchmark Orchestrator    Exp
0      10.01       500        sn          k8s  exp13
6       6.93      1500        sn          k8s  exp13
8       7.41      2000        sn          k8s  exp13
11      8.68      3000        sn          k8s  exp13
15   6890.00      4000        sn          k8s  exp13
17  15610.00      5000        sn          k8s  exp13
20  18860.00      6000        sn          k8s  exp13
21  23590.00     10000        sn          k8s  exp13
2      11.75       500        mm          k8s  exp13
4       7.48      1000        mm          k8s  exp13
9   19870.00      2000        mm          k8s  exp13
12  22330.00      3000        mm          k8s  exp13
16  24180.00      4000        mm          k8s  exp13
18  25310.00      5000        mm          k8s  exp13
1      12.93       500        hr          k8s  exp13
3       8.65      1000        hr          k8s  exp13
5       7.36      1500        hr          k8s  exp13
7       7.12      2000        hr          k8s  exp13
10      7.04      2500        hr          k8s  exp13
13      6.92      3000        hr          k8s  exp13
14      6.98      4000        hr          k8s  exp13
19  16840.00      6000        hr          k8s  exp13
22  21100.00     10000        hr          k8s  exp13

In [64]:
df_13_nomad.sort_values(["Orchestrator", "Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

     Latency  Requests Benchmark Orchestrator    Exp
2       3.50       500        sn        nomad  exp13
4       2.63      1500        sn        nomad  exp13
5       2.33      2000        sn        nomad  exp13
7       2.15      3000        sn        nomad  exp13
11      2.10      4000        sn        nomad  exp13
14      2.09      5000        sn        nomad  exp13
18      2.35     10000        sn        nomad  exp13
22      2.86     15000        sn        nomad  exp13
26      4.58     20000        sn        nomad  exp13
1       3.12       500        mm        nomad  exp13
3       3.82      1000        mm        nomad  exp13
6      92.16      2000        mm        nomad  exp13
9     997.89      3000        mm        nomad  exp13
10   8010.00      4000        mm        nomad  exp13
13  13120.00      5000        mm        nomad  exp13
15  17370.00      6000        mm        nomad  exp13
17  19640.00      7000        mm        nomad  exp13
0       3.80       500        hr        nomad  exp13
8      22.11      3000        hr        nomad  exp13
12    152.96      4000        hr        nomad  exp13
16   3890.00      6000        hr        nomad  exp13
19   8310.00     10000        hr        nomad  exp13
20  18940.00     12000        hr        nomad  exp13
21  20610.00     14000        hr        nomad  exp13
23  21590.00     16000        hr        nomad  exp13
24  22330.00     18000        hr        nomad  exp13
25  23130.00     20000        hr        nomad  exp13

# Exp 14 Breaking points

In [65]:
df_14_swarm.sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator", 'Exp']]

      Latency  Requests Benchmark Orchestrator    Exp
24       6.77       500        sn        swarm  exp14
50       5.52      1500        sn        swarm  exp14
71       5.70      2000        sn        swarm  exp14
88       6.36      3000        sn        swarm  exp14
110  15220.00      4000        sn        swarm  exp14
120  18330.00      5000        sn        swarm  exp14
127  20120.00      6000        sn        swarm  exp14
22       3.92       500        mm        swarm  exp14
33      15.38      1000        mm        swarm  exp14
63   15960.00      2000        mm        swarm  exp14
98   20630.00      3000        mm        swarm  exp14
17   25300.00       500        hr        swarm  exp14
42   24400.00      1000        hr        swarm  exp14
51   23990.00      1500        hr        swarm  exp14
75   23710.00      2000        hr        swarm  exp14

In [74]:
df_14_k8s.sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

     Latency  Requests Benchmark Orchestrator    Exp
2      10.88       500        sn          k8s  exp14
8       4.94      1500        sn          k8s  exp14
11      4.26      2000        sn          k8s  exp14
14      3.58      3000        sn          k8s  exp14
16      3.40      4000        sn          k8s  exp14
17      3.52      5000        sn          k8s  exp14
19      3.78      6000        sn          k8s  exp14
20     57.28     10000        sn          k8s  exp14
21    188.80     12000        sn          k8s  exp14
22   5530.00     14000        sn          k8s  exp14
23  14370.00     20000        sn          k8s  exp14
4    2190.00       500        mm          k8s  exp14
5    1590.00      1000        mm          k8s  exp14
9    2920.00      2000        mm          k8s  exp14
13  12200.00      3000        mm          k8s  exp14
15  16860.00      4000        mm          k8s  exp14
18  19320.00      5000        mm          k8s  exp14
0   24180.00       100        hr          k8s  exp14
1   20770.00       200        hr          k8s  exp14
3   18910.00       500        hr          k8s  exp14
6   16260.00      1000        hr          k8s  exp14
7   15170.00      1500        hr          k8s  exp14
10  15030.00      2000        hr          k8s  exp14
12  14220.00      2500        hr          k8s  exp14

In [67]:
df_14_nomad.sort_values(["Orchestrator", "Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

     Latency  Requests Benchmark Orchestrator    Exp
2       3.94       500        sn        nomad  exp14
4       2.91      1500        sn        nomad  exp14
5       2.80      2000        sn        nomad  exp14
8       2.73      3000        sn        nomad  exp14
10      2.80      4000        sn        nomad  exp14
14      2.80      5000        sn        nomad  exp14
18      3.35     10000        sn        nomad  exp14
23      4.32     15000        sn        nomad  exp14
27      7.29     20000        sn        nomad  exp14
1       2.71       500        mm        nomad  exp14
3       2.62      1000        mm        nomad  exp14
6       3.05      2000        mm        nomad  exp14
7       4.39      3000        mm        nomad  exp14
12     81.92      4000        mm        nomad  exp14
13     61.89      5000        mm        nomad  exp14
16     81.86      6000        mm        nomad  exp14
17    132.10      7000        mm        nomad  exp14
19   4930.00     10000        mm        nomad  exp14
0       5.17       500        hr        nomad  exp14
9     174.08      3000        hr        nomad  exp14
11     79.04      4000        hr        nomad  exp14
15   4380.00      6000        hr        nomad  exp14
20  19760.00     10000        hr        nomad  exp14
21  21000.00     12000        hr        nomad  exp14
22  22480.00     14000        hr        nomad  exp14
24  23310.00     16000        hr        nomad  exp14
25  23950.00     18000        hr        nomad  exp14
26  24510.00     20000        hr        nomad  exp14

# Exp 15 Breaking points

In [68]:
df_15_swarm.sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

      Latency  Requests Benchmark Orchestrator    Exp
30       5.96       500        sn        swarm  exp15
57       5.48      1500        sn        swarm  exp15
68    7570.00      2000        sn        swarm  exp15
101  24350.00      3000        sn        swarm  exp15
23       4.01       500        mm        swarm  exp15
32   21450.00      1000        mm        swarm  exp15
69   25330.00      2000        mm        swarm  exp15
18       6.00       500        hr        swarm  exp15
39       5.27      1000        hr        swarm  exp15
55       5.11      1500        hr        swarm  exp15
73       5.09      2000        hr        swarm  exp15
83   15200.00      2500        hr        swarm  exp15
104  17780.00      3000        hr        swarm  exp15

In [69]:
df_15_k8s.sort_values(["Orchestrator","Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

     Latency  Requests Benchmark Orchestrator    Exp
0      10.06       500        sn          k8s  exp15
6       7.20      1500        sn          k8s  exp15
8       7.77      2000        sn          k8s  exp15
11  17140.00      3000        sn          k8s  exp15
15  19740.00      4000        sn          k8s  exp15
17  21940.00      5000        sn          k8s  exp15
20  22950.00      6000        sn          k8s  exp15
21  25330.00     10000        sn          k8s  exp15
2      11.85       500        mm          k8s  exp15
4   19600.00      1000        mm          k8s  exp15
9   24530.00      2000        mm          k8s  exp15
12  20250.00      3000        mm          k8s  exp15
16  26820.00      4000        mm          k8s  exp15
18  27280.00      5000        mm          k8s  exp15
1      11.61       500        hr          k8s  exp15
3       7.66      1000        hr          k8s  exp15
5       6.97      1500        hr          k8s  exp15
7       6.84      2000        hr          k8s  exp15
10      6.87      2500        hr          k8s  exp15
13  13710.00      3000        hr          k8s  exp15
14  16660.00      4000        hr          k8s  exp15
19  21500.00      6000        hr          k8s  exp15
22  24230.00     10000        hr          k8s  exp15

In [70]:
df_15_nomad.sort_values(["Orchestrator", "Benchmark"], ascending=False).loc[:,['Latency','Requests', "Benchmark", "Orchestrator",'Exp']]

     Latency  Requests Benchmark Orchestrator    Exp
1       3.27       500        sn        nomad  exp15
3       2.52      1500        sn        nomad  exp15
4       2.44      2000        sn        nomad  exp15
6       2.50      3000        sn        nomad  exp15
10      2.62      4000        sn        nomad  exp15
13      2.84      5000        sn        nomad  exp15
17      4.78     10000        sn        nomad  exp15
21   5620.00     15000        sn        nomad  exp15
25  12940.00     20000        sn        nomad  exp15
0       3.24       500        mm        nomad  exp15
2       3.90      1000        mm        nomad  exp15
5    2790.00      2000        mm        nomad  exp15
8    5470.00      3000        mm        nomad  exp15
9   13240.00      4000        mm        nomad  exp15
12  18330.00      5000        mm        nomad  exp15
14  20330.00      6000        mm        nomad  exp15
16  22020.00      7000        mm        nomad  exp15
7    9030.00      3000        hr        nomad  exp15
11  13780.00      4000        hr        nomad  exp15
15  18560.00      6000        hr        nomad  exp15
18  22870.00     10000        hr        nomad  exp15
19  23840.00     12000        hr        nomad  exp15
20  24610.00     14000        hr        nomad  exp15
22  24950.00     16000        hr        nomad  exp15
23  25850.00     18000        hr        nomad  exp15
24  26020.00     20000        hr        nomad  exp15