In [1]:
!rm df-*-checkpoint.csv

zsh:1: no matches found: df-*-checkpoint.csv

In [2]:
import os
import glob

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load all datasets

In [4]:
all_files = glob.glob("*.csv")
df = pd.concat((pd.read_csv(f) for f in all_files))
df = df.drop_duplicates()
print(df.shape)

(555, 19)

In [5]:
df.head()

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec
0,10.06,500.0,14814.0,9899,1,k8s,sn,1,exp15,1,1,1,4,512,30,3.983,52.864,2.127,493.26
1,11.61,500.0,14706.0,9908,1,k8s,hr,1,exp15,1,1,1,4,512,30,4.298,22.256,2.219,490.00
2,11.85,500.0,14813.0,9898,1,k8s,mm,1,exp15,1,1,1,4,512,30,4.902,19.696,1.883,493.64
3,7.66,1000.0,29634.0,19875,1,k8s,hr,1,exp15,1,1,1,4,512,30,3.181,11.592,1.410,987.61
4,19600.00,1000.0,12128.0,8079,1,k8s,mm,1,exp15,1,1,1,4,512,30,11164.807,22691.840,3871.293,404.04

In [6]:
# df['Exp'] = df['Exp'].replace(['exp12','exp13','exp14','exp15'],
                              # ['baseline', 'vertical', 'horizontal', 'availability'])

# Overview experiment settings

In [7]:
df.columns

Index(['Latency', 'Requests', 'Throughput', 'Measured_Throughput', 'Baseline',
       'Orchestrator', 'Benchmark', 'Infinite', 'Exp', 'Availability',
       'Horizontal', 'Vertical', 'Threads', 'Connections', 'Duration', 'Mean',
       'Max', 'StdDev', 'ReqSec'],
      dtype='object')

In [8]:
df.loc[:,['Exp','Baseline','Orchestrator','Availability','Horizontal','Vertical', 'Throughput']]

,Exp,Baseline,Orchestrator,Availability,Horizontal,Vertical,Throughput
0,exp15,1,k8s,1,1,1,14814.0
1,exp15,1,k8s,1,1,1,14706.0
2,exp15,1,k8s,1,1,1,14813.0
3,exp15,1,k8s,1,1,1,29634.0
4,exp15,1,k8s,1,1,1,12128.0
...,...,...,...,...,...,...,...
23,exp14,1,nomad,0,0,1,449699.0
24,exp14,1,nomad,0,0,1,104179.0
25,exp14,1,nomad,0,0,1,106307.0
26,exp14,1,nomad,0,0,1,105577.0
27,exp14,1,nomad,0,0,1,595102.0

In [9]:
df['Orchestrator'] = df['Orchestrator'].astype('category')
df['Benchmark'] = df['Benchmark'].astype('category')

df['Exp'] = df['Exp'].astype('category')
# df['Latency'] = df['Latency']
df['Requests'] = df['Requests'].astype(int)

In [10]:
df_0 = df.loc[df['Exp'] == 'exp0']
df_1 = df.loc[df['Exp'] == 'exp1']
df_2 = df.loc[df['Exp'] == 'exp2']
df_3 = df.loc[df['Exp'] == 'exp3']
df_4 = df.loc[df['Exp'] == 'exp4']
df_5 = df.loc[df['Exp'] == 'exp5']
df_6 = df.loc[df['Exp'] == 'exp6']
df_7 = df.loc[df['Exp'] == 'exp7']
df_8 = df.loc[df['Exp'] == 'exp8']
df_9 = df.loc[df['Exp'] == 'exp9']
df_10 = df.loc[df['Exp'] == 'exp10']
df_11 = df.loc[df['Exp'] == 'exp11']

In [11]:
df_12 = df.loc[(df['Exp'] == 'exp12')]
df_13 = df.loc[(df['Exp'] == 'exp13')]
df_14 = df.loc[(df['Exp'] == 'exp14')]
df_15 = df.loc[(df['Exp'] == 'exp15')]
df_all_orch = pd.concat([df_12, df_13, df_14, df_15])
df_all_orch['Exp'] = df_all_orch['Exp'].cat.remove_unused_categories()
df_12_swarm = df.loc[(df['Exp'] == 'exp12') & (df['Orchestrator'] == 'swarm')]
df_13_swarm = df.loc[(df['Exp'] == 'exp13') & (df['Orchestrator'] == 'swarm')]
df_14_swarm = df.loc[(df['Exp'] == 'exp14') & (df['Orchestrator'] == 'swarm')]
df_15_swarm = df.loc[(df['Exp'] == 'exp15') & (df['Orchestrator'] == 'swarm')]
df_12_nomad = df.loc[(df['Exp'] == 'exp12') & (df['Orchestrator'] == 'nomad')]
df_13_nomad = df.loc[(df['Exp'] == 'exp13') & (df['Orchestrator'] == 'nomad')]
df_14_nomad = df.loc[(df['Exp'] == 'exp14') & (df['Orchestrator'] == 'nomad')]
df_15_nomad = df.loc[(df['Exp'] == 'exp15') & (df['Orchestrator'] == 'nomad')]
df_12_k8s = df.loc[(df['Exp'] == 'exp12') & (df['Orchestrator'] == 'k8s')]
df_13_k8s = df.loc[(df['Exp'] == 'exp13') & (df['Orchestrator'] == 'k8s')]
df_14_k8s = df.loc[(df['Exp'] == 'exp14') & (df['Orchestrator'] == 'k8s')]
df_15_k8s = df.loc[(df['Exp'] == 'exp15') & (df['Orchestrator'] == 'k8s')]

In [12]:
# Global settings
fontsize = 20
legend_location = "lower right"

# Exp12-15 Tables Tables

In [165]:
df.columns

Index(['breaking_point', 'Orchestrator', 'Benchmark', 'Exp'], dtype='object')

In [166]:
df_12_swarm.iloc[:,[8,0,1,8,5,2,3,-1,-4,-3,-2]]

,Exp,Latency,Requests,Exp,Orchestrator,Throughput,Measured_Throughput,ReqSec,Mean,Max,StdDev
20,exp12,3.98,500,exp12,swarm,14922.0,9876,497.36,2.878,26.640,0.741
27,exp12,6.94,500,exp12,swarm,14815.0,9900,493.40,2.594,24.256,1.731
29,exp12,7.75,500,exp12,swarm,14815.0,9900,493.30,2.571,11.296,1.642
35,exp12,21640.00,1000,exp12,swarm,10356.0,7033,344.89,12884.337,24788.992,4122.938
38,exp12,6.39,1000,exp12,swarm,29634.0,19874,987.74,2.083,13.208,1.316
49,exp12,6.22,1500,exp12,swarm,43993.0,29658,1466.15,2.849,13.312,1.570
52,exp12,6.07,1500,exp12,swarm,43994.0,29658,1465.96,1.982,9.904,1.247
66,exp12,24970.00,2000,exp12,swarm,10920.0,7520,363.52,16016.705,26968.064,4742.046
74,exp12,6.33,2000,exp12,swarm,58715.0,39649,1957.01,2.001,12.560,1.302
76,exp12,6.74,2000,exp12,swarm,59189.0,39689,1972.69,3.106,13.048,1.546
84,exp12,14970.00,2500,exp12,swarm,40342.0,22088,1341.06,7689.570,16957.440,3511.712
91,exp12,22400.00,3000,exp12,swarm,40314.0,25971,1342.85,7498.706,23887.872,6174.576
102,exp12,19760.00,3000,exp12,swarm,33760.0,22569,1122.31,12156.241,21659.648,3831.499
103,exp12,26610.00,3000,exp12,swarm,10587.0,7248,352.73,17559.775,28229.632,5047.048
107,exp12,23040.00,4000,exp12,swarm,37523.0,24173,1247.68,12359.072,26345.472,5769.809

In [15]:
df_12.shape

(69, 19)

In [326]:
def return_val(i):
    return create_pct_change_latency(globals()['df_%s' % (12+i)])
    
def create_pct_change_latency(df):
    df = df.sort_values(['Orchestrator','Benchmark','Requests']).reset_index(drop=True)
    df['pct_change_latency'] = df.sort_values(['Orchestrator','Benchmark','Requests']).loc[:,['Latency']].pct_change()
    return df

def return_index(df):
    return df[(df['Latency'] > 1000) & (df['pct_change_latency'] > 100)]  .sort_values(['Orchestrator','Benchmark','Requests']).index

def req_after_before(df, index):
    return df.loc[index,['Requests','Orchestrator','Benchmark','Exp']], df.loc[index-1,['Requests','Orchestrator','Benchmark','Exp']]

def return_breaking_point(df_req_after, df_req_before):
    return df_req_before.loc[:,'Requests'].astype(str).reset_index(drop=True)  + " - " + df_req_after.loc[:,'Requests'].astype(str).reset_index(drop=True) 

def update_df(df_new, df_old):
    # df_new = pd.DataFrame([])
    df_new['Orchestrator'] = df_req_after.loc[:,['Orchestrator']].reset_index(drop=True)
    df_new['Benchmark'] = df_req_after.loc[:,['Benchmark']].reset_index(drop=True)
    df_new['Exp'] = df_req_after.loc[:,['Exp']].reset_index(drop=True)
    if df_new.shape[0] != 9:
        print(f"Empty strings, {df_new.shape}")
    return df_new

def add_missing_values(df):
    test = df_bp[df_bp['Exp'] == 'exp12']
    test = df_bp[df_bp['Exp'] == 'exp13']
    test = df_bp[df_bp['Exp'] == 'exp14']
    test = df_bp[df_bp['Exp'] == 'exp15']
    for orch in df_bp['Orchestrator'].unique():
        for bench in test['Benchmark'].unique():
            for exp in test['Exp'].unique():
                if len(test[test['Orchestrator'] == orch]) < 3:
                    print(orch)
                    df2 = {'Orchestrator': orch, 
                           'breaking_point': '??', 
                           'Benchmark': bench,
                           'Exp': exp}
                    test = test.append(df2, ignore_index = True)

    print(test)
    print(df[(df['pct_change_latency'] > 100)])
    return(df)

In [371]:
df_14.sort_values(["Orchestrator","Benchmark"])['Requests']

0

In [368]:
df_14[df_14["Orchestrator"] == 'nomad']

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec
0,5.17,500,14815.0,9899,1,nomad,hr,1,exp14,0,0,1,4,512,30,2.105,14.648,1.013,493.54
1,2.71,500,14815.0,9899,1,nomad,mm,1,exp14,0,0,1,4,512,30,1.504,13.664,0.346,493.55
2,3.94,500,14815.0,9898,1,nomad,sn,1,exp14,0,0,1,4,512,30,1.486,18.080,0.991,493.70
3,2.62,1000,29635.0,19875,1,nomad,mm,1,exp14,0,0,1,4,512,30,1.407,7.388,0.327,987.71
4,2.91,1500,44706.0,29666,1,nomad,sn,1,exp14,0,0,1,4,512,30,0.975,21.520,0.743,1489.80
5,2.80,2000,59196.0,39694,1,nomad,sn,1,exp14,0,0,1,4,512,30,0.909,34.368,0.763,1972.89
6,3.05,2000,59185.0,39684,1,nomad,mm,1,exp14,0,0,1,4,512,30,1.489,9.632,0.415,1972.32
7,4.39,3000,89116.0,59695,1,nomad,mm,1,exp14,0,0,1,4,512,30,2.027,744.960,9.998,2970.70
8,2.73,3000,89128.0,59701,1,nomad,sn,1,exp14,0,0,1,4,512,30,0.859,16.976,0.687,2970.87
9,174.08,3000,89034.0,59690,1,nomad,hr,1,exp14,0,0,1,4,512,30,36.341,536.064,37.471,2967.66
10,2.80,4000,118954.0,79829,1,nomad,sn,1,exp14,0,0,1,4,512,30,0.850,29.792,0.670,3965.10
11,79.04,4000,117988.0,79867,1,nomad,hr,1,exp14,0,0,1,4,512,30,18.619,193.664,16.661,3932.62
12,81.92,4000,118931.0,79808,1,nomad,mm,1,exp14,0,0,1,4,512,30,4.337,1233.920,25.005,3964.54
13,61.89,5000,148605.0,99695,1,nomad,mm,1,exp14,0,0,1,4,512,30,4.096,704.512,18.880,4953.58
14,2.80,5000,149792.0,99670,1,nomad,sn,1,exp14,0,0,1,4,512,30,0.847,16.768,0.657,4993.02
15,4380.00,6000,167643.0,113884,1,nomad,hr,1,exp14,0,0,1,4,512,30,1327.498,6701.056,1067.939,5587.64
16,81.86,6000,178521.0,119780,1,nomad,mm,1,exp14,0,0,1,4,512,30,4.925,695.808,19.675,5950.89
17,132.10,7000,206514.0,139396,1,nomad,mm,1,exp14,0,0,1,4,512,30,7.459,793.600,25.423,6884.19
18,3.35,10000,297600.0,199280,1,nomad,sn,1,exp14,0,0,1,4,512,30,0.913,22.992,0.750,9919.86
19,4930.00,10000,261711.0,175710,1,nomad,mm,1,exp14,0,0,1,4,512,30,2133.122,6184.960,1083.765,8724.16
20,19760.00,10000,105695.0,70364,1,nomad,hr,1,exp14,0,0,1,4,512,30,12640.277,21282.816,3831.764,3521.73
21,21000.00,12000,106981.0,71617,1,nomad,hr,1,exp14,0,0,1,4,512,30,13627.689,22675.456,4098.405,3565.54
22,22480.00,14000,105725.0,70490,1,nomad,hr,1,exp14,0,0,1,4,512,30,14690.163,23920.640,4376.852,3520.78
23,4.32,15000,449699.0,298554,1,nomad,sn,1,exp14,0,0,1,4,512,30,1.034,36.992,0.909,14990.15
24,23310.00,16000,104179.0,69532,1,nomad,hr,1,exp14,0,0,1,4,512,30,15381.710,24690.688,4471.880,3472.66
25,23950.00,18000,106307.0,70344,1,nomad,hr,1,exp14,0,0,1,4,512,30,15800.657,25591.808,4642.517,3543.35
26,24510.00,20000,105577.0,70231,1,nomad,hr,1,exp14,0,0,1,4,512,30,16138.681,25952.256,4718.987,3519.32
27,7.29,20000,595102.0,393632,1,nomad,sn,1,exp14,0,0,1,4,512,30,9.237,5033.984,165.464,19836.37

In [383]:
test = df_14[df_14['Latency'] > 10000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
test

Orchestrator  Benchmark
k8s           hr             0.0
              mm            13.0
              sn            23.0
nomad         hr            20.0
              mm             NaN
              sn             NaN
swarm         hr            17.0
              mm            63.0
              sn           110.0
Name: Requests, dtype: float64

In [400]:
df_12.shape

(69, 20)

In [399]:
df_12[df_12['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
df_13[df_13['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
df_15[df_15['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
df_14[df_14['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()

Orchestrator  Benchmark
k8s           hr             0.0
              mm            13.0
              sn            22.0
nomad         hr            15.0
              mm            19.0
              sn             NaN
swarm         hr            17.0
              mm            63.0
              sn           110.0
Name: Requests, dtype: float64

In [395]:
df_14[df_14['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()

Orchestrator  Benchmark
k8s           hr             0.0
              mm            13.0
              sn            22.0
nomad         hr            15.0
              mm            19.0
              sn             NaN
swarm         hr            17.0
              mm            63.0
              sn           110.0
Name: Requests, dtype: float64

In [425]:
df_12_break = pd.DataFrame([])
df_13_break = pd.DataFrame([])
df_14_break = pd.DataFrame([])
df_15_break = pd.DataFrame([])
df_bp_list = [df_12_break, df_13_break, df_14_break, df_15_break]
for i, curr_df_break in enumerate([df_12_break, df_13_break, df_14_break, df_15_break]):
    val = return_val(i)
    index = return_index(val)
    # print(index)
    df_req_after, df_req_before = req_after_before(val, index)
    curr_df_break['breaking_point'] = return_breaking_point(df_req_after, df_req_before)
    update = update_df(curr_df_break, val)
    # print(update)
    curr_dr_break = update
    # curr_df_break = add_missing_values(curr_df_break)

    
df_bp = pd.concat([df_12_break, df_13_break, df_14_break, df_15_break])
# df_bp = df_bp.reset_index(drop=True)
df_bp = df_bp.sort_values(["Orchestrator", "Benchmark"], ascending=True).reset_index(drop=True)

Empty strings, (8, 4)
Empty strings, (6, 4)
Empty strings, (3, 4)
Empty strings, (8, 4)

In [350]:
test = df_bp[df_bp['Exp'] == 'exp12']
test = df_bp[df_bp['Exp'] == 'exp13']
test = df_bp[df_bp['Exp'] == 'exp14']
test = df_bp[df_bp['Exp'] == 'exp15']
for orch in df_bp['Orchestrator'].unique():
    for bench in test['Benchmark'].unique():
        for exp in test['Exp'].unique():
            if len(test[test['Orchestrator'] == orch]) < 3:
                print(orch)
                df2 = {'Orchestrator': orch, 
                       'breaking_point': '??', 
                       'Benchmark': bench,
                       'Exp': exp}
                test = test.append(df2, ignore_index = True)
        
print(test)

nomad
  breaking_point Orchestrator Benchmark    Exp
0    2500 - 3000          k8s        hr  exp15
1     500 - 1000          k8s        mm  exp15
2    2000 - 3000          k8s        sn  exp15
3    1000 - 2000        nomad        mm  exp15
4  10000 - 15000        nomad        sn  exp15
5    2000 - 2500        swarm        hr  exp15
6     500 - 1000        swarm        mm  exp15
7    1500 - 2000        swarm        sn  exp15
8             ??        nomad        hr  exp15

/var/folders/nv/p_yx9k0j763cnbwqk5j012t80000gn/T/ipykernel_2021/3546877373.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test = test.append(df2, ignore_index = True)

In [334]:
df_bp[df_bp['Exp'] == 'exp12'].groupby(['Orchestrator']).count()

              breaking_point  Benchmark  Exp
Orchestrator
k8s                        3          3    3
nomad                      2          2    2
swarm                      3          3    3

In [318]:
df_12.pivot_table(index=['Orchestrator'], columns='Benchmark', values="Latency", aggfunc=min)

Benchmark       hr     mm    sn
Orchestrator
k8s           6.78  11.75  7.35
nomad         5.20   3.28  2.40
swarm         6.07   3.98  6.22

# Pivot Table

In [438]:
df_bp

   breaking_point Orchestrator Benchmark           Exp
0     2000 - 3000        swarm        sn      baseline
1     3000 - 4000        swarm        sn      vertical
2     3000 - 4000        swarm        sn    horizontal
3     1500 - 2000        swarm        sn  availability
4      500 - 1000        swarm        mm      baseline
5     1000 - 2000        swarm        mm      vertical
6     1000 - 2000        swarm        mm    horizontal
7      500 - 1000        swarm        mm  availability
8     2000 - 2500        swarm        hr      baseline
9     4000 - 6000        swarm        hr      vertical
10    20000 - 500        swarm        hr    horizontal
11    2000 - 2500        swarm        hr  availability
12  10000 - 15000        nomad        sn      baseline
13  10000 - 15000        nomad        sn  availability
14     500 - 3000        nomad        mm      baseline
15    1000 - 2000        nomad        mm  availability
16    2000 - 3000          k8s        sn      baseline
17    3000 - 4000          k8s        sn      vertical
18    2000 - 3000          k8s        sn  availability
19     500 - 1000          k8s        mm      baseline
20    1000 - 2000          k8s        mm      vertical
21     500 - 1000          k8s        mm  availability
22    2500 - 3000          k8s        hr      baseline
23    4000 - 6000          k8s        hr      vertical
24    2500 - 3000          k8s        hr  availability

In [440]:
df_bp = df_bp.sort_values(['Orchestrator','Benchmark'], ascending=False).reset_index(drop=True)

In [446]:
df_table.columns.names.sort

In [442]:
# df.pivot(index='foo', columns='bar', values='baz')
# df_bp['Exp'] = df_bp['Exp'].replace(['exp12','exp13','exp14','exp15'],
                              # ['baseline', 'vertical', 'horizontal', 'availability'])
df_table = df_bp.pivot_table(index=['Orchestrator'], columns=['Benchmark','Exp'], values="breaking_point", aggfunc=min, fill_value="inf").reindex()
df_table

Benchmark              hr                                                  mm  \
Exp          availability     baseline   horizontal     vertical availability
Orchestrator
k8s           2500 - 3000  2500 - 3000          inf  4000 - 6000   500 - 1000
nomad                 inf          inf          inf          inf  1000 - 2000
swarm         2000 - 2500  2000 - 2500  20000 - 500  4000 - 6000   500 - 1000

Benchmark                                                      sn  \
Exp             baseline   horizontal     vertical   availability
Orchestrator
k8s           500 - 1000          inf  1000 - 2000    2000 - 3000
nomad         500 - 3000          inf          inf  10000 - 15000
swarm         500 - 1000  1000 - 2000  1000 - 2000    1500 - 2000

Benchmark
Exp                baseline   horizontal     vertical
Orchestrator
k8s             2000 - 3000          inf  3000 - 4000
nomad         10000 - 15000          inf          inf
swarm           2000 - 3000  3000 - 4000  3000 - 4000

In [421]:
# df.pivot(index='foo', columns='bar', values='baz')
df_bp['Exp'] = df_bp['Exp'].replace(['exp12','exp13','exp14','exp15'],
                              ['baseline', 'vertical', 'horizontal', 'availability'])
df_table = df_bp.pivot_table(index=['Orchestrator'], columns=['Benchmark','Exp'], values="breaking_point", aggfunc=min, fill_value="inf")
df_table

Benchmark              hr                                                  mm  \
Exp          availability     baseline   horizontal     vertical availability
Orchestrator
k8s           2500 - 3000  2500 - 3000          inf  4000 - 6000   500 - 1000
nomad                 inf          inf          inf          inf  1000 - 2000
swarm         2000 - 2500  2000 - 2500  20000 - 500  4000 - 6000   500 - 1000

Benchmark                                                      sn  \
Exp             baseline   horizontal     vertical   availability
Orchestrator
k8s           500 - 1000          inf  1000 - 2000    2000 - 3000
nomad         500 - 3000          inf          inf  10000 - 15000
swarm         500 - 1000  1000 - 2000  1000 - 2000    1500 - 2000

Benchmark
Exp                baseline   horizontal     vertical
Orchestrator
k8s             2000 - 3000          inf  3000 - 4000
nomad         10000 - 15000          inf          inf
swarm           2000 - 3000  3000 - 4000  3000 - 4000

In [423]:
df_table.style.to_latex()

'\\begin{tabular}{lllllllllllll}\nBenchmark & \\multicolumn{4}{r}{hr} & \\multicolumn{4}{r}{mm} & \\multicolumn{4}{r}{sn} \\\\\nExp & availability & baseline & horizontal & vertical & availability & baseline & horizontal & vertical & availability & baseline & horizontal & vertical \\\\\nOrchestrator &  &  &  &  &  &  &  &  &  &  &  &  \\\\\nk8s & 2500 - 3000 & 2500 - 3000 & inf & 4000 - 6000 & 500 - 1000 & 500 - 1000 & inf & 1000 - 2000 & 2000 - 3000 & 2000 - 3000 & inf & 3000 - 4000 \\\\\nnomad & inf & inf & inf & inf & 1000 - 2000 & 500 - 3000 & inf & inf & 10000 - 15000 & 10000 - 15000 & inf & inf \\\\\nswarm & 2000 - 2500 & 2000 - 2500 & 20000 - 500 & 4000 - 6000 & 500 - 1000 & 500 - 1000 & 1000 - 2000 & 1000 - 2000 & 1500 - 2000 & 2000 - 3000 & 3000 - 4000 & 3000 - 4000 \\\\\n\\end{tabular}\n'

In [413]:
print(df_12.iloc[11,[0]], df_12.iloc[13,[0]])

Latency    24330.0
Name: 11, dtype: object Latency    26720.0
Name: 13, dtype: object

In [401]:
df_12[df_12['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
df_13[df_13['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
df_15[df_15['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()
df_14[df_14['Latency'] > 4000].groupby(["Orchestrator","Benchmark"])['Requests'].idxmin()

Orchestrator  Benchmark
k8s           hr             0.0
              mm            13.0
              sn            22.0
nomad         hr            15.0
              mm            19.0
              sn             NaN
swarm         hr            17.0
              mm            63.0
              sn           110.0
Name: Requests, dtype: float64

In [309]:
df_table.columns

MultiIndex([('hr', 'exp12'),
            ('hr', 'exp13'),
            ('hr', 'exp14'),
            ('hr', 'exp15'),
            ('mm', 'exp12'),
            ('mm', 'exp13'),
            ('mm', 'exp14'),
            ('mm', 'exp15'),
            ('sn', 'exp12'),
            ('sn', 'exp13'),
            ('sn', 'exp14'),
            ('sn', 'exp15')],
           names=['Benchmark', 'Exp'])

KeyError: 'Benchmark'

In [312]:
df_table['Benchmark'].sort_values(ascending=False)

KeyError: 'Benchmark'

In [305]:
df_table.reindex(df_table['Orchestrator'].sort_values(ascending=False).index)

KeyError: 'Orchestrator'

In [289]:
df_bp.sort_values()

   breaking_point Orchestrator Benchmark    Exp
0     2500 - 3000          k8s        hr  exp12
1      500 - 1000          k8s        mm  exp12
2     2000 - 3000          k8s        sn  exp12
3      500 - 3000        nomad        mm  exp12
4   10000 - 15000        nomad        sn  exp12
5     2000 - 2500        swarm        hr  exp12
6      500 - 1000        swarm        mm  exp12
7     2000 - 3000        swarm        sn  exp12
8     4000 - 6000          k8s        hr  exp13
9     1000 - 2000          k8s        mm  exp13
10    3000 - 4000          k8s        sn  exp13
11    4000 - 6000        swarm        hr  exp13
12    1000 - 2000        swarm        mm  exp13
13    3000 - 4000        swarm        sn  exp13
14    20000 - 500        swarm        hr  exp14
15    1000 - 2000        swarm        mm  exp14
16    3000 - 4000        swarm        sn  exp14
17    2500 - 3000          k8s        hr  exp15
18     500 - 1000          k8s        mm  exp15
19    2000 - 3000          k8s        sn  exp15
20    1000 - 2000        nomad        mm  exp15
21  10000 - 15000        nomad        sn  exp15
22    2000 - 2500        swarm        hr  exp15
23     500 - 1000        swarm        mm  exp15
24    1500 - 2000        swarm        sn  exp15

In [241]:
df_bp.groupby(["Orchestrator","Benchmark","Exp"]).first()

                             breaking_point
Orchestrator Benchmark Exp
k8s          hr        exp12    2500 - 3000
                       exp13    4000 - 6000
                       exp15    2500 - 3000
             mm        exp12     500 - 1000
                       exp13    1000 - 2000
                       exp15     500 - 1000
             sn        exp12    2000 - 3000
                       exp13    3000 - 4000
                       exp15    2000 - 3000
nomad        mm        exp12     500 - 3000
                       exp15    1000 - 2000
             sn        exp12  10000 - 15000
                       exp15  10000 - 15000
swarm        hr        exp12    2000 - 2500
                       exp13    4000 - 6000
                       exp14    20000 - 500
                       exp15    2000 - 2500
             mm        exp12     500 - 1000
                       exp13    1000 - 2000
                       exp14    1000 - 2000
                       exp15     500 - 1000
             sn        exp12    2000 - 3000
                       exp13    3000 - 4000
                       exp14    3000 - 4000
                       exp15    1500 - 2000

In [229]:
df_bp.groupby(["Orchestrator","Benchmark","Exp"]).first()

                             breaking_point
Orchestrator Benchmark Exp
k8s          hr        exp12    2500 - 3000
                       exp13    4000 - 6000
                       exp15    2500 - 3000
             mm        exp12     500 - 1000
                       exp13    1000 - 2000
                       exp15     500 - 1000
             sn        exp12    2000 - 3000
                       exp13    3000 - 4000
                       exp15    2000 - 3000
nomad        mm        exp12     500 - 3000
                       exp15    1000 - 2000
             sn        exp12  10000 - 15000
                       exp15  10000 - 15000
swarm        hr        exp12    2000 - 2500
                       exp13    4000 - 6000
                       exp14    20000 - 500
                       exp15    2000 - 2500
             mm        exp12     500 - 1000
                       exp13    1000 - 2000
                       exp14    1000 - 2000
                       exp15     500 - 1000
             sn        exp12    2000 - 3000
                       exp13    3000 - 4000
                       exp14    3000 - 4000
                       exp15    1500 - 2000

In [222]:
df_test.loc[(df_test['Latency'] > 10000)].groupby(["Orchestrator","Benchmark"]).first()

                        Latency  Requests  Throughput  Measured_Throughput  \
Orchestrator Benchmark
k8s          hr         24180.0     100.0      2055.0               1262.0
             mm         12200.0    3000.0     55308.0              34518.0
             sn         14370.0   20000.0    349511.0             229183.0
nomad        hr         19760.0   10000.0    105695.0              70364.0
             mm             NaN       NaN         NaN                  NaN
             sn             NaN       NaN         NaN                  NaN
swarm        hr         25300.0     500.0      3775.0               2486.0
             mm         15960.0    2000.0     31930.0              20541.0
             sn         15220.0    4000.0     72598.0              47359.0

                        Baseline  Infinite    Exp  Availability  Horizontal  \
Orchestrator Benchmark
k8s          hr              1.0       1.0  exp14           0.0         0.0
             mm              1.0       1.0  exp14           0.0         0.0
             sn              1.0       1.0  exp14           0.0         0.0
nomad        hr              1.0       1.0  exp14           0.0         0.0
             mm              NaN       NaN    NaN           NaN         NaN
             sn              NaN       NaN    NaN           NaN         NaN
swarm        hr              1.0       1.0  exp14           0.0         0.0
             mm              1.0       1.0  exp14           0.0         0.0
             sn              1.0       1.0  exp14           0.0         0.0

                        Vertical  Threads  Connections  Duration       Mean  \
Orchestrator Benchmark
k8s          hr              1.0      4.0        512.0      30.0   2428.259
             mm              1.0      4.0        512.0      30.0   6157.422
             sn              1.0      4.0        512.0      30.0   7825.386
nomad        hr              1.0      4.0        512.0      30.0  12640.277
             mm              NaN      NaN          NaN       NaN        NaN
             sn              NaN      NaN          NaN       NaN        NaN
swarm        hr              1.0      4.0        512.0      30.0  14202.408
             mm              1.0      4.0        512.0      30.0   8728.362
             sn              1.0      4.0        512.0      30.0   7350.476

                              Max    StdDev    ReqSec  pct_change_latency
Orchestrator Benchmark
k8s          hr         26951.680  5753.460     68.21           -0.141026
             mm         15294.464  2430.376   1843.29            3.178082
             sn         17498.112  2882.604  11641.65            1.598553
nomad        hr         21282.816  3831.764   3521.73            3.511416
             mm               NaN       NaN       NaN                 NaN
             sn               NaN       NaN       NaN                 NaN
swarm        hr         27607.040  5102.416    125.64         3469.507545
             mm         19562.496  3205.155   1063.13         1036.711313
             sn         18792.448  3297.572   2418.53         2392.081761

In [231]:
df_test.loc[(df_test['Latency'] > 10000)]

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec,pct_change_latency
0,24180.0,100,2055.0,1262,1,k8s,hr,1,exp14,0,0,1,4,512,30,2428.259,26951.680,5753.460,68.21,NaN
1,20770.0,200,3938.0,2554,1,k8s,hr,1,exp14,0,0,1,4,512,30,4567.370,26263.552,6002.517,130.71,-0.141026
2,18910.0,500,9464.0,6216,1,k8s,hr,1,exp14,0,0,1,4,512,30,6253.710,24559.616,4709.872,315.13,-0.089552
3,16260.0,1000,18709.0,12244,1,k8s,hr,1,exp14,0,0,1,4,512,30,7077.571,20299.776,3683.906,623.50,-0.140137
4,15170.0,1500,27897.0,18613,1,k8s,hr,1,exp14,0,0,1,4,512,30,7087.510,21430.272,3202.092,929.56,-0.067036
5,15030.0,2000,36586.0,24629,1,k8s,hr,1,exp14,0,0,1,4,512,30,7103.466,18874.368,3076.619,1219.34,-0.009229
6,14220.0,2500,45937.0,31005,1,k8s,hr,1,exp14,0,0,1,4,512,30,7218.379,18972.672,2907.034,1531.18,-0.053892
10,12200.0,3000,55308.0,34518,1,k8s,mm,1,exp14,0,0,1,4,512,30,6157.422,15294.464,2430.376,1843.29,3.178082
11,16860.0,4000,54961.0,33317,1,k8s,mm,1,exp14,0,0,1,4,512,30,9249.153,19480.576,3300.887,1831.16,0.381967
12,19320.0,5000,55527.0,31919,1,k8s,mm,1,exp14,0,0,1,4,512,30,10969.116,22429.696,3923.982,1850.04,0.145907
23,14370.0,20000,349511.0,229183,1,k8s,sn,1,exp14,0,0,1,4,512,30,7825.386,17498.112,2882.604,11641.65,1.598553
28,19760.0,10000,105695.0,70364,1,nomad,hr,1,exp14,0,0,1,4,512,30,12640.277,21282.816,3831.764,3521.73,3.511416
29,21000.0,12000,106981.0,71617,1,nomad,hr,1,exp14,0,0,1,4,512,30,13627.689,22675.456,4098.405,3565.54,0.062753
30,22480.0,14000,105725.0,70490,1,nomad,hr,1,exp14,0,0,1,4,512,30,14690.163,23920.640,4376.852,3520.78,0.070476
31,23310.0,16000,104179.0,69532,1,nomad,hr,1,exp14,0,0,1,4,512,30,15381.710,24690.688,4471.880,3472.66,0.036922
32,23950.0,18000,106307.0,70344,1,nomad,hr,1,exp14,0,0,1,4,512,30,15800.657,25591.808,4642.517,3543.35,0.027456
33,24510.0,20000,105577.0,70231,1,nomad,hr,1,exp14,0,0,1,4,512,30,16138.681,25952.256,4718.987,3519.32,0.023382
52,25300.0,500,3775.0,2486,1,swarm,hr,1,exp14,0,0,1,4,512,30,14202.408,27607.040,5102.416,125.64,3469.507545
53,24400.0,1000,7334.0,4879,1,swarm,hr,1,exp14,0,0,1,4,512,30,14553.426,28753.920,4737.159,244.25,-0.035573
54,23990.0,1500,11268.0,7516,1,swarm,hr,1,exp14,0,0,1,4,512,30,14752.793,27492.352,4505.652,375.38,-0.016803
55,23710.0,2000,14845.0,9925,1,swarm,hr,1,exp14,0,0,1,4,512,30,14581.775,26820.608,4542.430,494.73,-0.011672
58,15960.0,2000,31930.0,20541,1,swarm,mm,1,exp14,0,0,1,4,512,30,8728.362,19562.496,3205.155,1063.13,1036.711313
59,20630.0,3000,30696.0,20468,1,swarm,mm,1,exp14,0,0,1,4,512,30,12781.244,23560.192,3935.920,1023.26,0.292607
64,15220.0,4000,72598.0,47359,1,swarm,sn,1,exp14,0,0,1,4,512,30,7350.476,18792.448,3297.572,2418.53,2392.081761
65,18330.0,5000,69921.0,45822,1,swarm,sn,1,exp14,0,0,1,4,512,30,9970.409,22380.544,3664.095,2328.64,0.204336
66,20120.0,6000,65400.0,42966,1,swarm,sn,1,exp14,0,0,1,4,512,30,12093.302,22511.616,3952.620,2177.15,0.097654

In [186]:
df_test[(df_test['pct_change_latency'] > 100) | (df_test['Latency'] > 1000) ].sort_values(['Orchestrator','Benchmark','Requests']).index

Int64Index([ 7,  8, 11, 12, 13, 14, 19, 20, 21, 22, 26, 27, 28, 29, 30, 31, 32,
            37, 38, 39, 40, 57, 58, 61, 62, 63, 68, 69],
           dtype='int64')

In [209]:
df_12

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec,pct_change_latency
0,11.84,500,14814.0,9898,0,k8s,hr,1,exp12,0,1,1,4,512,30,4.274,20.672,2.302,493.69,NaN
1,7.87,1000,29903.0,19933,0,k8s,hr,1,exp12,0,1,1,4,512,30,3.161,12.584,1.474,996.74,-0.335304
2,7.02,1500,43992.0,29657,0,k8s,hr,1,exp12,0,1,1,4,512,30,2.891,11.136,1.255,1466.15,-0.108005
3,6.78,2000,59189.0,39690,0,k8s,hr,1,exp12,0,1,1,4,512,30,2.809,10.416,1.188,1972.92,-0.034188
4,6.82,2500,74372.0,49906,0,k8s,hr,1,exp12,0,1,1,4,512,30,2.775,13.168,1.199,2479.05,0.005900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,6.94,500,14815.0,9900,0,swarm,sn,1,exp12,0,1,1,4,512,30,2.594,24.256,1.731,493.40,-0.999739
65,6.22,1500,43993.0,29658,0,swarm,sn,1,exp12,0,1,1,4,512,30,2.849,13.312,1.570,1466.15,-0.103746
66,6.74,2000,59189.0,39689,0,swarm,sn,1,exp12,0,1,1,4,512,30,3.106,13.048,1.546,1972.69,0.083601
67,22400.00,3000,40314.0,25971,0,swarm,sn,1,exp12,0,1,1,4,512,30,7498.706,23887.872,6174.576,1342.85,3322.442136
68,23040.00,4000,37523.0,24173,0,swarm,sn,1,exp12,0,1,1,4,512,30,12359.072,26345.472,5769.809,1247.68,0.028571

In [205]:
df_test = return_val(2)

In [208]:
df_test.sort_values(['Orchestrator','Benchmark','Requests'])

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec,pct_change_latency
0,24180.00,100,2055.0,1262,1,k8s,hr,1,exp14,0,0,1,4,512,30,2428.259,26951.680,5753.460,68.21,NaN
1,20770.00,200,3938.0,2554,1,k8s,hr,1,exp14,0,0,1,4,512,30,4567.370,26263.552,6002.517,130.71,-0.141026
2,18910.00,500,9464.0,6216,1,k8s,hr,1,exp14,0,0,1,4,512,30,6253.710,24559.616,4709.872,315.13,-0.089552
3,16260.00,1000,18709.0,12244,1,k8s,hr,1,exp14,0,0,1,4,512,30,7077.571,20299.776,3683.906,623.50,-0.140137
4,15170.00,1500,27897.0,18613,1,k8s,hr,1,exp14,0,0,1,4,512,30,7087.510,21430.272,3202.092,929.56,-0.067036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,5.70,2000,59188.0,39687,1,swarm,sn,1,exp14,0,0,1,4,512,30,2.781,9.152,1.339,1972.91,0.032609
63,6.36,3000,89122.0,59703,1,swarm,sn,1,exp14,0,0,1,4,512,30,2.956,32.368,1.492,2970.72,0.115789
64,15220.00,4000,72598.0,47359,1,swarm,sn,1,exp14,0,0,1,4,512,30,7350.476,18792.448,3297.572,2418.53,2392.081761
65,18330.00,5000,69921.0,45822,1,swarm,sn,1,exp14,0,0,1,4,512,30,9970.409,22380.544,3664.095,2328.64,0.204336
66,20120.00,6000,65400.0,42966,1,swarm,sn,1,exp14,0,0,1,4,512,30,12093.302,22511.616,3952.620,2177.15,0.097654

In [172]:
df_test['Benchmark']

0     hr
1     hr
2     hr
3     hr
4     hr
      ..
65    sn
66    sn
67    sn
68    sn
69    sn
Name: Benchmark, Length: 70, dtype: category
Categories (3, object): ['hr', 'mm', 'sn']

In [171]:
df_bp.sort_values(['Orchestrator', 'Benchmark'])

   breaking_point Orchestrator Benchmark    Exp
0     2500 - 3000          k8s        hr  exp12
8     4000 - 6000          k8s        hr  exp13
17    2500 - 3000          k8s        hr  exp15
1      500 - 1000          k8s        mm  exp12
9     1000 - 2000          k8s        mm  exp13
18     500 - 1000          k8s        mm  exp15
2     2000 - 3000          k8s        sn  exp12
10    3000 - 4000          k8s        sn  exp13
19    2000 - 3000          k8s        sn  exp15
3      500 - 3000        nomad        mm  exp12
20    1000 - 2000        nomad        mm  exp15
4   10000 - 15000        nomad        sn  exp12
21  10000 - 15000        nomad        sn  exp15
5     2000 - 2500        swarm        hr  exp12
11    4000 - 6000        swarm        hr  exp13
14    20000 - 500        swarm        hr  exp14
22    2000 - 2500        swarm        hr  exp15
6      500 - 1000        swarm        mm  exp12
12    1000 - 2000        swarm        mm  exp13
15    1000 - 2000        swarm        mm  exp14
23     500 - 1000        swarm        mm  exp15
7     2000 - 3000        swarm        sn  exp12
13    3000 - 4000        swarm        sn  exp13
16    3000 - 4000        swarm        sn  exp14
24    1500 - 2000        swarm        sn  exp15

In [ ]:
df_bp

   breaking_point Orchestrator Benchmark    Exp
0     2500 - 3000          k8s        hr  exp15
1      500 - 1000          k8s        mm  exp15
2     2000 - 3000          k8s        sn  exp15
3      500 - 3000        nomad        mm  exp15
4   10000 - 15000        nomad        sn  exp15
5     2000 - 2500        swarm        hr  exp15
6      500 - 1000        swarm        mm  exp15
7     2000 - 3000        swarm        sn  exp15
8     4000 - 6000          k8s        hr  exp15
9     1000 - 2000          k8s        mm  exp15
10    3000 - 4000          k8s        sn  exp15
11    4000 - 6000        nomad        mm  exp15
12    1000 - 2000        nomad        sn  exp15
13    3000 - 4000        swarm        hr  exp15
14    20000 - 500          k8s        hr  exp15
15    1000 - 2000          k8s        mm  exp15
16    3000 - 4000          k8s        sn  exp15
17    2500 - 3000          k8s        hr  exp15
18     500 - 1000          k8s        mm  exp15
19    2000 - 3000          k8s        sn  exp15
20    1000 - 2000        nomad        mm  exp15
21  10000 - 15000        nomad        sn  exp15
22    2000 - 2500        swarm        hr  exp15
23     500 - 1000        swarm        mm  exp15
24    1500 - 2000        swarm        sn  exp15

In [94]:
df_bp.shape

(25, 4)

In [40]:
df_bp.head()

Empty DataFrame
Columns: []
Index: []

In [341]:
df_bp.shape

(25, 4)

In [278]:
df_new['breaking_point'] = df_req_before.loc[:,'Requests'].astype(str).reset_index(drop=True)  + " - " + df_req_after.loc[:,'Requests'].astype(str).reset_index(drop=True)

In [280]:
df_new.loc[:,['breaking_point','Orchestrator','Benchmark','Exp']].T

,0,1,2,3,4,5,6,7
breaking_point,2500 - 3000,500 - 1000,2000 - 3000,500 - 3000,10000 - 15000,2000 - 2500,500 - 1000,2000 - 3000
Orchestrator,k8s,k8s,k8s,nomad,nomad,swarm,swarm,swarm
Benchmark,hr,mm,sn,mm,sn,hr,mm,sn
Exp,exp12,exp12,exp12,exp12,exp12,exp12,exp12,exp12

In [229]:
df_req_before.loc[:,['Requests']]

    Requests
4       2500
9        500
17      2000
35       500
51     10000
57      2000
60       500
66      2000

In [226]:
df_req_after

    Requests Orchestrator Benchmark    Exp
5       3000          k8s        hr  exp12
10      1000          k8s        mm  exp12
18      3000          k8s        sn  exp12
36      3000        nomad        mm  exp12
52     15000        nomad        sn  exp12
58      2500        swarm        hr  exp12
61      1000        swarm        mm  exp12
67      3000        swarm        sn  exp12

In [211]:
index_new

Int64Index([5, 10, 18, 36, 52, 58, 61, 67, 4, 9, 17, 35, 51, 57, 60, 66], dtype='int64')

In [186]:
df_12[df_12['pct_change_latency'] > 100].shape

(8, 20)

In [ ]:
df_new = pd.DataFrame()

In [208]:
df_12[df_12['pct_change_latency'] > 100].sort_values(['Orchestrator','Benchmark','Requests']).T

,5,10,18,36,52,58,61,67
Latency,17420.0,21860.0,16730.0,3410.0,2450.0,14970.0,21640.0,22400.0
Requests,3000,1000,3000,3000,15000,2500,1000,3000
Throughput,41852.0,7785.0,45482.0,84696.0,433454.0,40342.0,10356.0,40314.0
Measured_Throughput,28856,3896,29177,55282,287451,22088,7033,25971
Baseline,0,0,0,0,0,0,0,0
Orchestrator,k8s,k8s,k8s,nomad,nomad,swarm,swarm,swarm
Benchmark,hr,mm,sn,mm,sn,hr,mm,sn
Infinite,1,1,1,1,1,1,1,1
Exp,exp12,exp12,exp12,exp12,exp12,exp12,exp12,exp12
Availability,0,0,0,0,0,0,0,0
Horizontal,1,1,1,1,1,1,1,1
Vertical,1,1,1,1,1,1,1,1
Threads,4,4,4,4,4,4,4,4
Connections,512,512,512,512,512,512,512,512
Duration,30,30,30,30,30,30,30,30
Mean,10643.378,9287.31,9272.681,912.172,404.991,7689.57,12884.337,7498.706
Max,20037.632,23773.184,19251.2,6934.528,6197.248,16957.44,24788.992,23887.872
StdDev,3251.34,4336.379,3380.67,768.037,534.413,3511.712,4122.938,6174.576
ReqSec,1391.32,258.38,1512.5,2823.34,14448.74,1341.06,344.89,1342.85
pct_change_latency,2553.252199,1859.425532,1911.0,1038.634146,547.098434,2363.92891,5436.18593,3322.442136

In [98]:
df_12_swarm_sn = df_12_swarm[df_12_swarm['Benchmark'] == 'sn']
df_12_swarm_mm = df_12_swarm[df_12_swarm['Benchmark'] == 'mm']
df_12_swarm_hr = df_12_swarm[df_12_swarm['Benchmark'] == 'hr']

In [107]:
df_df_12_swarm_sn.loc[:,['Latency']].pct_change()

         Latency
27           NaN
49     -0.103746
76      0.083601
91   3322.442136
107     0.028571

In [103]:
df_12_swarm_sn.T.loc[['Latency'],:].apply(lambda: (current-previous)/previous)

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [99]:
df_12_swarm_mm

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec
20,3.98,500,14922.0,9876,0,swarm,mm,1,exp12,0,1,1,4,512,30,2.878,26.640,0.741,497.36
35,21640.00,1000,10356.0,7033,0,swarm,mm,1,exp12,0,1,1,4,512,30,12884.337,24788.992,4122.938,344.89
66,24970.00,2000,10920.0,7520,0,swarm,mm,1,exp12,0,1,1,4,512,30,16016.705,26968.064,4742.046,363.52
103,26610.00,3000,10587.0,7248,0,swarm,mm,1,exp12,0,1,1,4,512,30,17559.775,28229.632,5047.048,352.73

In [100]:
df_12_swarm_hr

,Latency,Requests,Throughput,Measured_Throughput,Baseline,Orchestrator,Benchmark,Infinite,Exp,Availability,Horizontal,Vertical,Threads,Connections,Duration,Mean,Max,StdDev,ReqSec
29,7.75,500,14815.0,9900,0,swarm,hr,1,exp12,0,1,1,4,512,30,2.571,11.296,1.642,493.30
38,6.39,1000,29634.0,19874,0,swarm,hr,1,exp12,0,1,1,4,512,30,2.083,13.208,1.316,987.74
52,6.07,1500,43994.0,29658,0,swarm,hr,1,exp12,0,1,1,4,512,30,1.982,9.904,1.247,1465.96
74,6.33,2000,58715.0,39649,0,swarm,hr,1,exp12,0,1,1,4,512,30,2.001,12.560,1.302,1957.01
84,14970.00,2500,40342.0,22088,0,swarm,hr,1,exp12,0,1,1,4,512,30,7689.570,16957.440,3511.712,1341.06
102,19760.00,3000,33760.0,22569,0,swarm,hr,1,exp12,0,1,1,4,512,30,12156.241,21659.648,3831.499,1122.31

# All Orch tables

In [ ]:
df_all_orch['Exp'].cat.remove_unused_categories()